{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "eslint-config-prettier",
    "plugin:jest/recommended",
    "plugin:testing-library/react",
    "prettier"
  ],
  "plugins": ["react", "@typescript-eslint", "import", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"]],
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      },
      "node": {
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "error",
    "@typescript-eslint/naming-convention": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-duplicate-imports": "error",
    "@typescript-eslint/no-unused-vars": "warn",
    "import/order": [
      "error",
      {
        "groups": ["external", "builtin", ["internal", "parent"], ["sibling", "index"]],
        "newlines-between": "always"
      }
    ]
  }
}
